@media (max-width:800px){
    flex-direction: column;
}

html, body{
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

.flexmaster{
    /*contains: header, pagecontent, footer*/
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.page-header{
    /*fixed size*/
    flex: none;

    padding: 15px;
    color: #575ed8;
    font-size: 20px;
    font-weight: bold;
}

.pagecontent{
    /*contains: videocall-container, conversation-container*/

    /*resize container*/
    flex: 1;

    /*for firefox*/
    overflow-y: auto;
    overflow-x: hidden;

    /*new flex container*/
    display: flex;
    flex-direction: row;

    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
}

.videocall-container{
    flex: none;
    padding: 20px;
    width: 400px;
    min-width: 250px;
    overflow: auto;

    /*new flex container*/
    display: flex;
    flex-direction: column;
}

.video-window{
    flex: 1 1 auto;
    background-color: #575ed8;
    border: 1px solid #ddd;;
    border-radius: 2px;
}

.chat-content-container{
    /*contains: conversation-container*/
    flex: 1 1 auto;
    padding: 20px;
    width: 100%;
    min-width: 400px;
    overflow-y: auto;
    overflow-x: hidden;

    /*new flex container*/
    display: flex;
    flex-direction: row;
}

.conversation-container{
    /*contains: user-area*/
    flex: 1 1 auto;
    width: 90%;
    min-width: 300px;
    padding: 10px;
    background: #f9f9f9;

    height: 500px;

    /*new flex container*/
    display: flex;
    flex-direction: column;
}

.user-area{
    /*contains: chat-output, feedback, username, typing*/
    flex: none
    width: 100%;
    min-width: 300px;

    /*new flex container*/
    display: flex;
    flex-direction: column;
}

#chat-output{
    background-color: #575ed8;
    padding: 5px 5px;
}

#feedback{
    background-color: steelblue;
    padding: 5px 5px;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #575ed8;
}

.username-gap{
    flex: none;
    overflow: hidden;
    font-size: 12px;
    border-bottom: 1px solid #eee;
    padding: 5px 5px;

    /*new flex container*/
    display: flex;
    flex-direction: row;
}

.handle-box{
    overflow: hidden;
    width: 100%;
    align-self: center;
}

input:focus{
    /*removes blue focus border*/
    outline: none;
}

.mute-checkbox{
    overflow: hidden;
    padding: 5px;

    /*new flex container*/
    display: flex;
    flex-direction: row;
}

.typing{
    flex: none;
    overflow: hidden;
    font-size: 12px;
    width: 100%;

    /*new flex container*/
    display: flex;
    flex-direction: row;
}

#message{
    padding: 5px 10px;
    border: 0;
    outline: none; /*remove the blue glow*/
    resize: none; /*remove resize handle*/
    width: 100%;
}

button#send{
    padding: 5px 10px;
    border: 0;
    border-radius: 0 0 2px 2px;
    background: #575ed8;
    color: #fff;
}

.page-footer{
    /*fixed size*/
    flex: none;

    padding: 15px;
    color: #575ed8;
    font-weight: bold;